@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,600;8..144,1000&display=swap');

/* ******** */
.flex{
    display: flex;
}
.opac{
    opacity: 0;
}
/* ********************************* */
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
    background-color: #4801FF;
    font-family: 'Roboto Flex', sans-serif;
}

#containerHome{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: aliceblue;
}
 ul{
    color: aliceblue;
    list-style: none;}

.desktopNav{
    position: fixed;
    bottom: 0;
}.desktopNav > span{
    margin-left: 25px;
    gap: 5px;
}

.name{
    margin-left: 43px;
    gap: 0px;
    flex-direction: column;
    font-size: 3.5rem;
    font-weight: 800;
}

.containerProject{
    display: flex;
    flex-direction: column;
    width: 95vw;
    font-size: 13rem;
    transform: translateY(-50px);  
}

.containerProject > h3:nth-child(1){
    font-family: 'Roboto Flex', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    transform: scaleX(1) scaleY(1) scaleZ(1.6) rotateX(338deg) rotateY(40deg) rotateZ(1deg) translateX(57px) translateY(139px) translateZ(0px) skewX(0deg) skewY(0deg);
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}
.containerProject > h3:nth-child(2){
    font-family: 'Roboto Flex', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    transform: scaleX(1) scaleY(1) scaleZ(1.6) rotateX(338deg) rotateY(40deg) rotateZ(1deg) translateX(-15px) translateY(77px) translateZ(0px) skewX(0deg) skewY(0deg);
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}
.containerProject > h3:nth-child(3){
    font-family: 'Roboto Flex', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    transform: scaleX(1) scaleY(1) scaleZ(1.6) rotateX(338deg) rotateY(40deg) rotateZ(1deg) translateX(57px) translateY(13px) translateZ(0px) skewX(0deg) skewY(0deg);
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.containerProject > h3:hover{
    transform-origin: 50% 50%;
    transform: skewY(0deg) translateY(10px);
    transform-style: preserve-3d;
}


/* ********* gestion de la modale******** */

